@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #03a9f4; /* Blue */
  --secondary-color: #ff9800; /* Orange */
  --text-color: #ffffff; /* White */
  --background-color: #212121; /* Dark grey */
  --border-radius: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  animation: fadeIn 0.5s ease;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  animation: slideInDown 0.5s ease;
}

input[type="text"] {
  width: 70%;
  padding: 15px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  background-color: transparent;
  color: var(--text-color);
  outline: none;
  transition: border-color 0.3s ease, color 0.3s ease;
  margin-right: 14px;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type="text"]:focus {
  border-color: var(--secondary-color);
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 15px 30px;
  border-radius: var(--border-radius);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  animation: slideInUp 0.5s ease;
}

td,
th {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.emoji {
  font-size: 36px;
  vertical-align: middle;
  animation: pulse 1s infinite alternate;
}

.aliases,
.desc {
  font-size: 18px;
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
